/* GLOBAL settings*/

body{
  background-color:rgb(221, 201, 85);

}

#divBody {
  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/VztSF8QfQ0aYBL9-uvZXkw5quyXUohVqv2yc2IUhBuApX92IB?viewBox=1280%2C720");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

table {
  font-family: sans-serif; 
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

th {
  border-radius: 15px;
}

td {
  border-radius: 15px;
  text-align:center;
}

/* HERO class */

.divHero div{
  height: 200px;
  width: 160px;
}

.divHero table{
  border-color:black;
  border: 4px ridge; 
  padding: 4px;
  margin: 10px;
  background-color:skyblue;
}

.divHero th {
  border-color:black;
  border: 5px ridge;
  color: blue;
  background-color:white;
}

.divHero td {
  background-color:ghostwhite;
  padding: 2px;
}

/* BOSS class*/

.divBoss {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 400px;
  top: 0px;
}

.divBoss table {
  border-color:purple;
  border: 8px ridge; 
  margin: 10px;
  padding: 8px;
  background-color: yellow;
  font-weight:bold;
}

.divBoss th {
  border-color:black;
  border: 5px ridge;
  color: red;
  background-color:white;
  padding: 8px;
}

.divBoss td {
  color: black;
  background-color:plum;
  padding: 10px;
}

/* ACTIVE class */

.active table{
  background-color: red;
  border: 4px solid black; 
}

.active td{  
  color: white;
  background-color:black;
  font-weight:bold;
}

/*  divAttackOrder ID */

#divAttackOrder table{
  background-color: rgb(9, 104, 9);
  border: 4px solid black; 
}

#divAttackOrder th {
  color: white;
  padding: 8px;
}

#divAttackOrder td{  
  border: 5px ridge;
  color: white;
  background-color:black;
  font-weight:bold;
  padding: 10px
}

/* Attack Buttons */

.divAttackButton {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 400px;
  top: 225px;
}

.divDefendButton {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 525px;
  top: 225px;
}

.actionButton {
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  outline:none;
}

.actionButton:hover {
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  outline:none;
}

#attackButton {
  color: #f73808;
  border: 4px solid red !important;
}

#attackButton:hover {
  color:black;
}

#attackButton:active {
  background-color: red;
  transform: translateY(4px);
}

#defendButton {
  color: green;
  border: 4px solid green !important;
}

#defendButton:hover {
  color:black;
}

#defendButton:active {
  background-color: green;
  transform: translateY(4px);
}

/* Images */

.imgHero {
  border: 4px solid white; 
  border-radius: 6px;
  width:200px;
  height:200px;
}

#imgHero1 {
  position: absolute;
  left: 200px;
  top: 10px;
}

#imgHero2 {
  position: absolute;
  left: 200px;
  top: 210px;
}

#imgHero3 {
  position: absolute;
  left: 200px;
  top: 410px;
}

.imgBoss {
  border: 4px solid white; 
  border-radius: 6px;
}

#imgBoss1 {
  position: absolute;
  left: 600px;
  top: 10px;
  width:104px;
  height:142px;
}

/* Skill Buttons */

.skillButton {
  background-color:white;
  border: 4px solid; 
  border-color:blue;
  border-radius: 6px;
  height: 45px;
  left: 400px;
  margin: 10px;
  outline:none;
  padding: 8px;
  position: absolute;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 400px;
}

#skill1Button {
  top: 285px;
}

#skill2Button {
  top: 335px;
}

#skill3Button {
  top: 385px;
}

.skillButton:hover {
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  outline:none;
}




/* Status Message Area */
#areaStatusMessages {
  border-color:black;
  border: 4px ridge; 
  padding: 8px;
  margin: 10px;
  height: 150px;
  width: 650px;
  background-color:white;
  position: absolute;
  left: 400px;
  top: 450px;
  border-radius: 15px;
}

