/* GLOBAL settings*/

body{
  background-color:rgb(221, 201, 85);

}

#divBody {

  /*
  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/lQ5OEwGvHhURqpOrvc7oou-9h-fXwpL4lGhGmIxuJH0pX92IB?viewBox=1069%2C713");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/-RpKnD0fwEltklK5gK9_IaeoVF9f-rmlYyzef9ABsDopX92IB?viewBox=583%2C398");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/DnUcpfBI10YtwwD2HiT1fvA5cwa1wzwvsdtqNZ6BWmwpX92IB?viewBox=906%2C611");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/WDxreU4Wb9EYs4NHkuNUow04O5yP95OLIp_mNfObl4cpX92IB?viewBox=800%2C450");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/BD2lePRgjDUwTo7k44uTduGpDv0wVZlO66HYPxYeyVwpX92IB?viewBox=1065%2C600");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/Ai-BkpaXi9uYjLb1qyuhf76aybiv2yxcEMJYW-Xm0RopX92IB?viewBox=688%2C743"); 

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/Kepk2HFhPuE7TdeGF1IubQLwO6Lib7oThO4UtVom0GEeJxFPc?viewBox=1065%2C600&ownerId=A2MCRD6H2DR14G");

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/MTdSy_oJHdzkNMbNAUzMh1rlk_bmFeEx89ftjUfBtFopX92IB?viewBox=800%2C450");


  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/X_w-ZcNX59JZzpXfP0_C6_9Qgv83EnQZoA9uBxqE7bgpX92IB?viewBox=1166%2C656");

*/

  background-image: url("https://cnt-05.content-na.drive.amazonaws.com/cdproxy/templink/VztSF8QfQ0aYBL9-uvZXkw5quyXUohVqv2yc2IUhBuApX92IB?viewBox=1280%2C720");


  background-size: 100% 100%;
  background-repeat: no-repeat;
}

table {
  font-family: sans-serif; 
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

th {
  border-radius: 15px;
}

td {
  border-radius: 15px;
  text-align:center;
}

/* HERO class */

.divHero div{
  height: 200px;
  width: 160px;
}

.divHero table{
  border-color:black;
  border: 4px ridge; 
  padding: 4px;
  margin: 10px;
  background-color:skyblue;
}

.divHero th {
  border-color:black;
  border: 5px ridge;
  color: blue;
  background-color:white;
}

.divHero td {
  background-color:ghostwhite;
  padding: 2px;
}

/* BOSS class*/

.divBoss {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 400px;
  top: 0px;
}

.divBoss table {
  border-color:purple;
  border: 8px ridge; 
  margin: 10px;
  padding: 8px;
  background-color: yellow;
  font-weight:bold;
}

.divBoss th {
  border-color:black;
  border: 5px ridge;
  color: red;
  background-color:white;
  padding: 8px;
}

.divBoss td {
  color: black;
  background-color:plum;
  padding: 10px;
}

/* ACTIVE class */

.active table{
  background-color: red;
  border: 4px solid black; 
}

.active td{  
  color: white;
  background-color:black;
  font-weight:bold;
}

/*  divAttackOrder ID */

#divAttackOrder table{
  background-color: rgb(9, 104, 9);
  border: 4px solid black; 
}

#divAttackOrder th {
  color: white;
  padding: 8px;
}

#divAttackOrder td{  
  border: 5px ridge;
  color: white;
  background-color:black;
  font-weight:bold;
  padding: 10px
}

/* Attack Buttons */
.divAttackButton {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 200px;
  top: 50px;
}
.divDefendButton {
  height: 200px;
  width: 200px; 
  position: absolute;
  left: 200px;
  top: 150px;
}

.actionButton {
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  outline:none;
}

.actionButton:hover {
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  outline:none;
}


#attackButton {
  color: #f73808;
  border: 4px solid red !important;
}

#attackButton:hover {
  color:black;
}

#attackButton:active {
  background-color: red;
  transform: translateY(4px);
}


#defendButton {
  color: green;
  border: 4px solid green !important;
}

#defendButton:hover {
  color:black;
}

#defendButton:active {
  background-color: green;
  transform: translateY(4px);
}

